@import 'colorz';
@import "@material/theme/mdc-theme";
@import "@material/button/mdc-button";
@import "@material/ripple/mdc-ripple";
@import 'HeaderBar';
@import ''



body {
  font: $theme-font
}
.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
  background-color: none;
}

.button-container button {
  color: green;
  background-color: pink;
  margin: 3px;
}
.board-containerX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: blue;
}
.svg-canvas {
    z-index: -1;
    width: 500px;
    height: 432px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -300;
    margin-top: auto;
}
